h1{
    background-color: lightgray;
}

.titleOne, .titleTwo, .missionStat {
    background-color: beige;
    border-color: blue;
    border: 4px solid;
    margin-bottom: 20px;
}

#titlePartOne, #titlePartTwo, #mission{
    font-size: 20px;
    font-weight: bold;
}