body {
    background-color: rgb(114, 109, 109);
}

.fullStory {
    text-align: center;
}

a:link {
    color: rgb(25, 216, 35);
}

a:active{
    color: blue;
}

a:hover {
    color: hotpink;
}

a:visited {
    color: green;
}

.mainSection {
    background-image: url(wallpaperbetter.jpg);
    /*Wallpaper is from wallapaperbetter, artist unknown at this point.*/
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    padding: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 12px 12px black;
    background-color: lightgray;
    background-image: url(https://images.unsplash.com/photo-1535025075092-5a1cf795130b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80);
    /*Background image copyright: Tobias Tullius on unsplash.com*/
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Press Start 2P', Verdana, Geneva, Tahoma, sans-serif, cursive;

}



.description {
    text-align: justify;
    overflow-wrap: break-word;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 23px;
}

h2,
h3 {
    color: whitesmoke;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

button {
    border-radius: 18%;
    background-color: rgba(151, 158, 145, 0.87);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-color: white;
    padding: 12px;
    box-shadow: 10px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
}

button:hover {
    background-color: #3e4f72;
    text-decoration: none;
    transition-duration: 0.2s;
}

.titleOne,
.titleTwo,
.missionStat,
.missionSubject,
.antagonist,
.hook,
.ally,
.complication,
.twist,
.rewards {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px black;

}

.missionStat,
.missionSubject,
.antagonist,
.hook,
.ally,
.complication,
.twist,
.rewards {
    text-align: center;
    border-top: 2px solid rgba(251, 253, 249, 0.6)
}

#titlePartOne,
#titlePartTwo,
#mission,
#missionTwo,
#hookPrint,
#villain,
#ally,
#complication,
#plotTwist,
#reward {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}